@import url('/fonts/hack/hack.css');

@font-face {
    font-family: "Nimbus Sans";
    src: url("/fonts/NimbusSanL-Reg.otf");
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: unset;
    text-decoration: none;
}

html {
    background-color: rgb(207, 207, 207);
    font-family: 'Nimbus Sans';
}

:root {
    --nav-color: #eee;
    --nav-background-color: #272634;
    --danger--background--color: #b45555;
    --danger--color: #3b1717;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: [start] auto [nav-left] 1fr [nav-right] auto [end];
    grid-template-rows: [nav-top] 3rem [info-bar-top] auto [content-top] 1fr [footer-top] auto [footer-bottom];
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

.nav {
    display: flex;
    background-color: var(--nav-background-color);
    grid-column: start / end;
    grid-row: nav-top / info-bar-top;
    justify-content: center;
    align-items: center;
    color: var(--nav-color);
}

.info-bar {
    grid-column: start / end;
    grid-row: info-bar-top / content-top;
    display: none;
}

.info-bar--visible {
    display: flex;
    justify-content: center;
    align-items: center;
    display: inherit;
    background-color: #e4d162;
    height: 3rem;
}


.logo {
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    grid-column: start / nav-left;
    grid-row: nav-top / info-bar-top;
    color: var(--nav-color);
    align-items: center;
    margin-left: 1rem;
    text-decoration: none;
    z-index: 3;
}

.logo__symbol {
    margin-left: 0.25rem;
}

.footer {
    background-color: var(--nav-background-color);
    color: var(--nav-color);
    grid-column: start / end;
    grid-row: footer-top / footer-bottom;
}

.user-info {
    display: flex;
    grid-column: nav-right / end;
    grid-row: nav-top / info-bar-top;
    color: var(--nav-color);
    justify-content: right;
    align-items: center;
    margin-right: 0.25rem;
}

.user-info__item {
    margin-right: 1rem;
}

.user-info__content {
    left: 0;
    top: 0;
    width: 100%;
    height: 3rem;
    display: none;
    position: absolute;
    background-color: var(--nav-background-color);
    color: var(--nav-color);
    z-index: 2;
}

.user-info:hover .user-info__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: rgb(239, 239, 239);
    width: 70rem;
    padding: 1rem;
    max-width: 100%;
    grid-column: start / end;
    grid-row: content-top / footer-top;
    justify-self: center;
}

.footer {
    display: flex;
    justify-content: center;
    color: var(--nav-color);
    background-color: var(--nav-background-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3rem;
}

.section__link,
.nav__link,
.chat-message__profile-link,
.link,
.post__message > a {
    color: unset;
    text-decoration: none;
}

.post__message > a {
    font-weight: bold;
}

.section__link:hover,
.nav__link:hover,
.chat-message__profile-link:hover,
.link:hover,
.post__message > a:hover {
    text-decoration: underline;
}

.section__title {
    font-size: 1.25rem;
    font-weight: bold;
}

.section__title--main {
    text-decoration: none;
    color: unset;
}

.nav__link {
    margin-right: 0.5em;
    font-weight: bold;
}

.nav__link--right {
    text-align: right;
}

.block {
    width: 100%;
}

.block--simple {
    margin-bottom: unset;
}

.block__title {
    background-color: var(--nav-background-color);
    color: var(--nav-color);
    font-size: 1.25rem;
    padding: 0.25rem;
}

.block__content {
    border: 2px solid var(--nav-background-color);

    padding: 0.25rem;
}

.block__content--sized {
    height: 20rem;
    overflow-y: scroll;
    padding: 0.5rem;
}

.block__content--filled {
    padding: unset;
}

.block__footer {
    margin-top: 1em;
}

.emojione {
    width: 1rem;
    height: 1rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table tr {
    text-align: left;
}

.table td {
    margin-left: 1rem;
}

.btn {
    padding: 0.25rem;
    margin-top: 0.25rem;
    border: 1px solid var(--nav-background-color);
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: transparent;
}

.btn:hover {
    background-color: var(--nav-background-color);
    color: var(--nav-color);
}

.btn-light {
    border-color: var(--nav-color);
    color: var(--nav-color);
}

.btn-light:hover {
    background-color: var(--nav-color);
    color: var(--nav-background-color);
}

.textarea {
    display: block;
    width: 100%;
}

.textarea--vertical {
    resize: vertical;
}

.v-sep {
    height: 1rem;
}

.v-sep--small {
    height: 0.50rem;
}

.v-sep--mini {
    height: 0.25rem;
}

.message__text {
    margin-left: 1em;
    align-self: center;
}

.message a {
    font-weight: bold;
}

.message__text a:hover {
    text-decoration: underline;
}

.message {
    padding-top: 0.25rem;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.message__avatar {
    width: 3rem;
    height: 3rem;
}

.message__user {
    white-space: nowrap;
}

.message__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 10rem;
    padding-left: 0.5rem;
}

.scrollable-y {
    overflow-y: scroll;
    max-height: 30rem;
}

.latest-posts__header-post {
    width: 35rem;
}

.flex {
    display: flex;
}

.flex--fluid {
    flex-wrap: wrap;
    width: 100%;
}

.flex__expanded {
    flex-grow: 1;
}

.flex__centered {
    align-items: center;
    justify-content: center;
}

.flex--column {
    flex-direction: column;
}

.badge {
    padding: 0.25rem;
    background: var(--nav-background-color);
    color: var(--nav-color);
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.badge--condensed {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.badge--extra {
    color: #333;
    border-radius: 10px;
    background: rgba(76, 79, 80, 0.14);
}

.badge--primary {
    color: #eee;
    background-color: darkcyan;
    border-radius: 10px;
}

.badge--user {
    border: 1px solid #CCCCCC;
    background-color: transparent;
    border-radius: 5px;
    color: #333;
}

.badge--centered {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.col {

}

.col--block {
    display: inline-block;
}

.col--small {
    width: 5rem;
}

.col--medium {
    width: 10rem;
}

.col--big {
    width: 20rem;
}

.mbox {

}

.mbox---right {
    margin-right: 1rem;
}

.mbox--bottom {
    margin-bottom: 1rem;
}

.mbox--small-right {
    margin-right: 0.5rem;
}

.mbox--mini-right {
    margin-right: 0.25rem;
}

.mbox--mini-left {
    margin-left: 0.25rem;
}

.mbox--small-bottom {
    margin-bottom: 0.5rem;
}

.mbox--mini-bottom {
    margin-bottom: 0.25rem;
}

.mbox--small-top {
    margin-top: 0.5rem;
}

.mbox--mini-top {
    margin-top: 0.25rem;
}

.v-checkbox > input {
    display: none;
}

.v-checkbox > span {
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid var(--nav-background-color);
    border-radius: 1em;
}

.v-checkbox > input:checked + span {
    background-color: var(--nav-background-color);
}

.v-checkbox--light > span {
    border: 1px solid #eee;
}

.v-checkbox--light > input:checked + span {
    background-color: #eee;
}

.torrents__title {
    font-weight: bold;
}

.torrents__row {
    border-top: 3px dashed #CCC;
}

.torrents__row > td {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.torrents__age {
    white-space: nowrap;
}

.torrents__size {
    white-space: nowrap;
}

.torrents__header > th {
    font-weight: bold;
}

.torrents__header-category {
    width: 10rem;
}

.table--2 {

}

.table--2__title {
    width: 8rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.stats__item {
    margin-right: 0.25rem;
}

.text-thin {
    font-weight: 400;
}

.text-bold {
    font-weight: bold;
}

.torrent-icon {
    font-size: 1.5rem;
}

.torrent td:first-child {
    width: 8rem;
    padding-bottom: 0.5rem;
}

.torrent__meta-title {
    font-weight: bold;
}

.heading {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.torrent #comments {
    margin-bottom: -0.5rem;
}

.pre {
    white-space: pre-wrap;
}

.code {
    font-family: "Hack", "Monospace";
}

.decoda-code {
    white-space: pre-wrap;
    font-family: "Hack", "Monospace";
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tags__tag {
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.pagination > .page-item {
    display: inline;
    font-size: 1.25rem;
}

.danger-symbol {
    font-size: 3rem;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.block--danger > .block__content {
    border-color: var(--danger--background--color);
}

.block--danger > .block__title {
    background-color: var(--danger--background--color);
    color: var(--danger--color);
}

.pbox {

}

.pbox--small-bottom {
    padding-bottom: 0.5rem;
}

.pbox--mini {
    padding: 0.25rem;
}

.pbox--small {
    padding: 0.5rem;
}

.pbox--small-top {
    padding-top: 0.5rem;
}

.label {

}

.label--primary {
    color: darkcyan;
}

.label--info {
    color: blue;
}

.label--success {
    color: darkgreen;
}

.label--warning {
    color: orangered;
}

.label--danger {
    color: darkred;
}

.text {

}

.text--danger {
    color: darkred;
}

.post__info {
    min-height: 15rem;
    border: 1px dotted black;
}

.post__message {
    border: 1px dotted black;
    border-left: unset;
}

.post__header {
    background-color: var(--nav-background-color);
    color: white;
}

.post__avatar {
    min-width: 8rem;
    min-height: 8rem;
}

.post__user-title {
    max-width: 10rem;
    word-break: break-all;
}

.post__buttons {
    display: flex;
    white-space: nowrap;
}

.no-break {
    white-space: nowrap;
}

.profile-block {
    background-color: var(--nav-background-color);
    color: var(--nav-color);
    display: flex;
    align-items: center;
}


.profile-block__title {
    font-size: 1.5rem;
    font-weight: bold;
}

.profile-block__avatar {
    width: 10rem;
    height: 10rem;
}

.public-info td:first-child,
.private-info td:first-child,
.site-stats td:first-child,
.moderation-tools td:first-child {
    width: 15rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.decoda-list > li {
    margin-left: 2rem;
}

.decoda-quote-body {
    border-left: 3px solid black;
    margin-left: 0.5rem;
    padding-left: 0.25rem;
}

.decoda-quote-head {
    font-weight: bold;
}

.decoda-image {
    max-width: 100%;
}